@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- FLEXBOX AND GRID ----- */
.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* ----- HEIGHT AND WIDTH ----- */
w-100 {
  width: 100%;
}

/* ----- MAIN CONTAINER ----- */
.main-container {
  max-width: 1300px;
  margin: 0 auto;
  border: 2px solid red;
}

/* ----- HERO BACKGROUND IMAGE ----- */
.hero-bg {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/HeroGraphic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
